/*----------------------------------------General Formatting----------------------------------------*/

#abouthimBg {
	background-color: var(--abouthimBg);
	padding-left: 15%;
	padding-right: 15%;
}

#abouthim {
	position: relative;
	z-index: 2;
	margin: auto;
	max-width: 1100px;
	padding-top: 100px;
	padding-bottom: 100px;
}

#accent1 {
	background-color: var(--abouthimAccent);
	width: 4000px;
	height: 1000px;

	position: absolute;
	right: 40vw;
	top: 50px;
	z-index: 1;

	transform: rotate(7.64deg);
}
#abouthim img,
#abouthim div,
#accent1 {
	border-radius: 10px;
}

#abouthim span {
	text-decoration: underline;
}

#abouthim > * {
	margin-bottom: 100px;
}

/*--------------------Image Wrapper Formatting--------------------*/

#abouthim .backer {
	height: fit-content;
	width: fit-content;
	padding: 35px;
}

/*----------------------------------------Position Specific Formatting----------------------------------------*/

#abouthim h1 {
	position: relative;
	left: 15%;
	margin-bottom: 35px;
	transform: rotate(7.64deg);
}

#abouthim .container:nth-of-type(1) {
	width: 100%;
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-around;

	transform: rotate(7.64deg);
}

#abouthim .container:nth-of-type(1) p {
	width: 55%;
}

#abouthim .container:nth-of-type(1) .backer img {
	width: 200px;
}

#abouthim .container:nth-of-type(2) {
	width: 100%;
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-evenly;
	transform: rotate(7.64deg);
}

#abouthim .container:nth-of-type(2) .subcontainer {
	display: flex;
	flex-flow: column nowrap;
	justify-content: space-between;
	gap: 50px;
}

#abouthim .container:nth-of-type(2) .subcontainer:nth-of-type(1) {
	align-items: center;
}

#abouthim .container:nth-of-type(2) .subcontainer:nth-of-type(1) .backer img {
	width: 350px;
}

#abouthim .container:nth-of-type(2) .subcontainer:nth-of-type(1) p {
	width: 450px;
}

#abouthim .container:nth-of-type(2) .subcontainer:nth-of-type(2) p {
	width: 290px;
}

#abouthim .container:nth-of-type(2) .subcontainer:nth-of-type(2) .backer img {
	width: 200px;
}
