:root {
  --abouthimAccent: #663F46;
  --abouthimBg: #BEC9C1;
  --abouthimBacker: #C9D6EA;
  --projectsBg: #E8A783;
  --projectsAccent: #FF553E;
  --contactAccent: #663F46;
  --contactAccent: #FAF8E6;
}

* {
  box-sizing: border-box;
  -webkit-user-drag: none;
  user-select: none;
}

html,
body,
#root {
  width: 100%;
  margin: 0;
  padding: 0;
}

/* main {
  position: fixed;

} */

::-webkit-scrollbar {
  width: 0;
  display: none;
}

main * {
  display: inline-block;
}

img {
  width: 100px;
}

/* ------------------------- NAV BAR ------------------------- */

#header {
  position: fixed;
  top: 10vh;
  right: 78vh;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-end;
}

#header button:nth-of-type(2) {
  position: relative;
  left: 20px
}

#header button:nth-of-type(3) {
  position: relative;
  right: 20px
}

/* ------------------------- TEXT ------------------------- */

h1 {
  font-family: "Roboto Slab", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 6rem;
  margin: 0;
}

p {
  font-family: "EB Garamond", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 1.7rem;
  margin: 0;
}

a,
a:active,
a:visited {
  font-family: "Roboto Slab", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 1.5rem;
  text-decoration: none;
  margin: 0;
  
}

button {
  font-family: "EB Garamond", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 1.7rem;
  margin: 0;

  background: none !important;
  border: none;
  padding: 0 !important;
  cursor: pointer;
  text-align: left;
  color: black;
}