:root {
	--abouthimAccent: #ff553e;
	--abouthimBg: #ffa879;
	--abouthimBacker: rgba(171, 139, 139, 0.5);
	--projectsBg: #ffd1d1;
	--projectsAccent: #483eff;
	--contactAccent: #ff0000;
	--contactBg: #8c986d;
}

#abouthim h1 {
	color: black;
}

#abouthim p {
	color: white;
	background-color: rgba(171, 139, 139, 0.5);
	border-radius: 10px;
	padding: 15px 15px 15px 15px;
	backdrop-filter: blur(10px);
}

#abouthim a,
#abouthim a:active,
#abouthim a:visited {
	color: black;
}

#projects h1 {
	color: black;
}

#projects p {
	color: white;
}

#projects > p,
#bp > p,
#projects .text {
	backdrop-filter: blur(10px);
	background-color: rgba(3, 255, 137, 0.5);
	padding: 15px 15px 15px 15px;
	border-radius: 10px;
}

#projects a,
#projects a:active,
#projects a:visited {
	color: black;
}

#contact h1 {
	color: black;
}

#contact p {
	color: white;
	background-color: rgba(255, 48, 48, 0.5);
	border-radius: 10px;
	padding: 15px 15px 15px 15px;
	backdrop-filter: blur(10px);
}

#contact a,
#contact a:active,
#contact a:visited {
	color: black;
}

* {
	box-sizing: border-box;
	-webkit-user-drag: none;
	user-select: none;
}

html,
body,
#root {
	width: 100%;
	margin: 0;
	padding: 0;
}

#container {
	/*position absolute makes gorilla and other absolutely positioned elements affect the document height*/
	position: relative;
	overflow: hidden;
}

/* main {
  position: fixed;

} */

::-webkit-scrollbar {
	width: 0;
	display: none;
}

img {
	width: 100px;
}

/* ------------------------- NAV BAR ------------------------- */

#header {
	position: fixed;
	z-index: 5;
	top: 10vh;
	right: 78vh;
	display: flex;
	flex-direction: column;
	gap: 10px;
	align-items: flex-end;
	transition: 100ms ease-in;
}

#header button:nth-of-type(2) {
	position: relative;
	left: 20px;
}

#header button:nth-of-type(3) {
	position: relative;
	right: 20px;
}

/* ------------------------- TEXT ------------------------- */

h1 {
	font-family: "Roboto Slab", serif;
	font-optical-sizing: auto;
	font-weight: 400;
	font-style: normal;
	font-size: 6rem;
	margin: 0;
}

p {
	font-family: "EB Garamond", serif;
	font-optical-sizing: auto;
	font-weight: 400;
	font-style: normal;
	font-size: 1.7rem;
	margin: 0;
}

a,
a:active,
a:visited {
	font-family: "Roboto Slab", serif;
	font-optical-sizing: auto;
	font-weight: 400;
	font-style: normal;
	font-size: 1.5rem;
	text-decoration: none;
	margin: 0;
}

button {
	font-family: "EB Garamond", serif;
	font-optical-sizing: auto;
	font-weight: 400;
	font-style: normal;
	font-size: 1.7rem;
	margin: 0;

	background: none !important;
	border: none;
	padding: 0 !important;
	cursor: pointer;
	text-align: left;
	color: black;
}
